.col.s12
  .card-panel.darken-2.z-depth-2.hoverable
    .card-content.valign-wrapper.center-align
      %div.center
        .col.s6.m3
          = image_tag( "logos/rails-plain", :class => "tech-icon")
          %span.card-title
            %h6 Ruby on Rails
        .col.s6.m3
          = image_tag( "logos/sass-original", :class => "tech-icon")
          %span.card-title
            %h6 Sass
        .col.s6.m3
          = image_tag( "logos/javascript-original", :class => "tech-icon")
          %span.card-title
            %h6 Javascript
        .col.s6.m3
          = image_tag( "logos/bootstrap-plain", :class => "tech-icon")
          %span.card-title
            %h6 Bootstrap
        .col.s6.m3
          = image_tag( "logos/coffeescript-original", :class => "tech-icon")
          %span.card-title
            %h6 Coffeescript
        .col.s6.m3
          = image_tag( "logos/jquery-original", :class => "tech-icon")
          %span.card-title
            %h6 JQuery
        .col.s6.m3
          = image_tag( "logos/css3-plain", :class => "tech-icon")
          %span.card-title
            %h6 CSS
        .col.s6.m3
          = image_tag( "logos/postgresql-original", :class => "tech-icon")
          %span.card-title
            %h6 Postgres
