.section
  .row
    .col.s12#portfolio
      %h3.header Portfolio
      %h6.subheader What I am up to right now. My latest work.
    .col.s12.m4
      .card.z-depth-2.hoverable
        .card-image
          = image_tag "sample-1.jpg"
          %span.card-title Rest
        .card-content
          %p
            I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.
        .card-action
          %a{:href => "#"} This is a link
    .col.s12.m4
      .card.z-depth-2.hoverable
        .card-image
          = image_tag "sample-3.jpg"
          %span.card-title Comunidas Unidas
        .card-content
          %p
            A full-stack Ruby on Rails project for a local NGO. This project manages their grant requirements and tracks their community outreach.
        .card-action
          %a{:href => "#"} This is a link
    .col.s12.m4
      .card.z-depth-2.hoverable
        .card-image
          = image_tag( "sample-2.jpg", :class => "circle")
          %span.card-title cnsrvit.io
        .card-content
          %p
            A full-stack Ruby on Rails project for American Conservation Experience
            The web app manages their business and human resources needs.
        .card-action
          %a{:href => "#"} This is a link
    .col.s12#skills
      %h3.header Skills
      %h6.subheader "You know, like nunchuck skills, bo hunting skills, computer hacking skills. Girls only like guys who have great skills."
    = render 'home/skills'
    .col.s12.m12#bio
      %h3.header Bio
      %h6.subheader Who is this guy? Do we trust him? Maybe I should read his bio to find out.
      .card-panel.darken-2.z-depth-2.hoverable
        .card-content.valign-wrapper
          .col.s12
            %p.flow-text Hello World! I'm Ben.
            %p.flow-text I love creating web based data solutions for people. There is nothing better than creating a product that improves people's lives. My programming langauge of choice is Ruby, but lately I've been interested getting more in javascript frameworks & Front-End development.
            %p.flow-text When I'm am not spending my time coding, I am escaping to the great outdoors. I love camping, hiking, and lately I have been trying to visit as many National Parks as I can. So far I'm at 27. The most unique expeience was hiking 10 miles to see a lava flow in Hawaii.
    .col.s12#contactMe
      %h3.header Contact Me
      %h6.subheader This is great! I need a web based data solution. I should reach out to learn more.
      .card-panel.darken-2.z-depth-2.hoverable
        .card-content.valign-wrapper
          .col.s12.m6.left
            = form_for Contact.new , html: {  "data-no-turbolink": true , id: 'form', class: 'wizard-big'} do |f|
              .row
                %form.col.s12
                  .row
                    .input-field.col.s12
                      = f.text_field :full_name, id: 'full_name', class: "validate"
                      %label{:for => "full_name"} Full Name
                    .input-field.col.s12
                      = f.text_field :full_name, id: 'email', class: "validate"
                      %label{:for => "email"} e-mail
                  .row
                    .input-field.col.s12
                      = f.text_field :full_name, id: 'phone'
                      %label{:for => "phone"} Phone
                  .row
                    .input-field.col.s12
                      = f.text_field :body, id: 'message', class: "validate"
                      %label{:for => "message"} Message
                  .row
                    -# %button.btn.waves-effect.waves-light{:name => "action", :type => "submit"}
                    -# Submit
                    -# %i.material-icons.right send

                    =f.submit "Submit", class: "btn waves-effect waves-light deep-orange hoverable" do
                      %i.material-icons.right
                    -# = link_to project_path(project), class: "btn btn-white btn-sm" do
                    -#   %i.fa.fa-folder
                    -#     View
          .col.s12.m6.right
            .profile
              -# = image_tag "sample-1.jpg"


          %br/
