.section
  .row
    .col.s12.m4
      .card.z-depth-2.hoverable
        .card-image
          = image_tag "sample-1.jpg"
          %span.card-title Rest
        .card-content
          %p
            I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.
        .card-action
          %a{:href => "#"} This is a link
    .col.s12.m4
      .card.z-depth-2.hoverable
        .card-image
          = image_tag "sample-3.jpg"
          %span.card-title Comunidas Unidas
        .card-content
          %p
            A full-stack Ruby on Rails project for a local NGO. This project manages their grant requirements and tracks their community outreach.
        .card-action
          %a{:href => "#"} This is a link
    .col.s12.m4
      .card.z-depth-2.hoverable
        .card-image
          = image_tag( "sample-2.jpg", :class => "circle")
          %span.card-title cnsrvit.io
        .card-content
          %p
            A full-stack Ruby on Rails project for American Conservation Experience
            The web app manages their business and humam resources needs.
        .card-action
          %a{:href => "#"} This is a link
= render 'home/skills'
= render 'home/skills_progress_bars'
