!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %title= content_for?(:title) ? yield(:title) : 'Blog'
    %link{:href => "#{image_url 'Pohl989_logo.png'}", :rel => "shortcut icon"}

    %script{:defer => "defer", :src => "https://use.fontawesome.com/releases/v5.0.6/js/all.js"}
    =# Include style per-controller - vendor plugins
    = stylesheet_link_tag params[:controller] if ::Rails.application.assets_manifest.find_sources("#{params[:controller]}.css")
    -# Main css styles
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    -# Main javascript files
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = content_for?(:header_scripts) ? yield(:header_scripts) : ""
    = csrf_meta_tags
  %body.green.lighten-4
    = render 'layouts/topnavbar'
    = yield
    = javascript_include_tag params[:controller] if ::Rails.application.assets_manifest.find_sources("#{params[:controller]}.js")
    = content_for?(:footer_scripts) ? yield(:footer_scripts) : ""
  %footer
    = render 'layouts/footer'


-# <!DOCTYPE html>
-# <html>
-#   <head>
-#     <title>Blog</title>
-#     <%= csrf_meta_tags %>
-#     <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
-#     <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
-#   </head>
-#
-#   <body>
-#     <p class="notice"><%= notice %></p>
-#     <p class="alert"><%= alert %></p>
-#     <%= yield %>
-#   </body>
-# </html>
